<div id="container-<%= product.CodiceArticolo || '' %>">
    <div class="jumbotron-product">
        <div class="container-fluid" style="padding:0 !important;">
            <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12">
                <img 
                    src="http://192.168.0.232:3005/images/<%= product.CodiceArticolo %>.jpg" 
                    onerror="this.onerror=null; this.src='images/image.png';"
                    class="img-fluid zoom-image"
                    style="cursor: zoom-in;"
                />
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <h4 class="text-info">
                    <span class="text-decoration-none;">
                        <b class="text-dark">
                            <%= product.Denominazione %>
                        </b>
                    </span>
                </h4>
                <h6 class="text-primary">
                    <%= product.DescrizioneCategoria %>, <%= product.DescrizioneSottocategoria %>
                </h6>
                <h5 style="color:black;"><span class="glyphicon glyphicon-barcode"></span><strong>&nbsp;&nbsp;<%= product.CodiceBarre %></strong></h5>
                <h6 style="color:gray;">
                    Fornitore
                </h6>
                <h5 style="color:black;">
                    <% if (product.CodiceFornitore != "") { %>
                        <%= product.RagioneSocialeFornitore %>
                        <% if (product.ArtForn) { %> (<%= product.ArtForn %>) <% } %>
                    <% } else { %>
                        Fornitore non dispnonibile
                    <% } %>
                </h5>
                <h6 style="color:gray;">
                    Codice
                </h6>
                <h5 style="color:black;">
                    <%= product.CodiceArticolo %>
                </h5>
                <h6 style="color:gray;">
                    Brand
                </h6>
                <h5 style="color:black;">
                    <%= product.DescrizioneBrand %>
                </h5>
                <div>
                    <label for="<%= product.CodiceArticolo %>-packaging" class="col-form-label">Informazione packaging</label>
                    <textarea 
                        rows="3" 
                        id="<%= product.CodiceArticolo %>-packaging" 
                        class="form-control" 
                        placeholder="es: peso"
                    ><%= product.packaging_info || '' %></textarea>
                </div>
                <div class="mb-4">
                    <label for="<%= product.CodiceArticolo %>-testing" class="col-form-label">Informazione testing</label>
                    <textarea 
                        rows="3" 
                        id="<%= product.CodiceArticolo %>-testing" 
                        class="form-control" 
                        placeholder="es: linea sottile"
                    ><%= product.testing_info || '' %></textarea>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <table class="table table-sm table-bordered">
                    <tbody>
                        <tr>
                            <td scope="row" rowspan="<%= (product.ArticoloBrands ? product.ArticoloBrands.split(',').length : 1) + 2 %>" width="33.33%" class="text-center">
                                <h1 class="primary-price">
                                    <%= product.PrezzoListinoFornitore %><sup><span class="bi bi-currency-euro linea-prodotto"></sup>
                                </h1>
                                <span style="width: 100px;" class="badge bg-primary badge-price">
                                    Prezzo Fornitore
                                </span>
                            </td>
                            <td scope="row" rowspan="<%= (product.ArticoloBrands ? product.ArticoloBrands.split(',').length : 1) + 2 %>" width="33.33%" class="text-center">
                                <h1 class="primary-price">
                                    <%= product.PrezzoListinoBase %><sup><span class="bi bi-currency-euro linea-prodotto"></sup>
                                </h1>
                                <span style="width: 110px;" class="badge bg-primary badge-price">
                                    <%= product.LineaProdotto %> -
                                    <% if (product.LineaProdotto == "L06") { %>
                                        Da scontare 
                                    <% } else { %>
                                        Prezzo netto 
                                    <% } %></span>
                                </span>
                                <span class="text-primary primary-price-di-ricarico fw-normal">
                                    <%= (typeof product.PercentualeRicaricoCalcolata === 'number' ? product.PercentualeRicaricoCalcolata.toFixed(2) : '0.00') %>% di ricarico
                                </span>
                            </td>
                            <td scope="row" rowspan="<%= (product.ArticoloBrands ? product.ArticoloBrands.split(',').length : 1) + 2 %>" width="33.33%" class="text-center">
                                <div class="d-flex" style="gap: 0.5rem;">
                                    <input 
                                        type="text"
                                        id="<%= product.CodiceArticolo %>-suggested-price"
                                        class="form-control text-success text-center number-validation btn-set-suggested-price" 
                                        value="<%= product.suggested_price || "0.00" %>" 
                                        style="margin: 25px 0 10px 10px; font-size: 36px;"
                                        data-product-code="<%= product.CodiceArticolo %>"
                                        data-fornitore-price="<%= product.PrezzoListinoFornitore %>"
                                    >
                                    <button 
                                        type="button" 
                                        class="btn btn-default bi bi-clock text-primary btn-product-price-history"
                                        style="border: 0; width: 36px; height: 30px; margin-top: 27px; padding: 0;"
                                        data-product-article-code="<%= product.CodiceArticolo %>">
                                    </button>
                                </div>
                                <span style="width: 110px;" class="badge bg-success badge-price">
                                    Prezzo suggerito
                                </span>
                                <span class="text-success primary-price-di-ricarico fw-normal" id="<%= product.CodiceArticolo %>-suggested-price-di-ricarico">
                                    <% 
                                        var perc = 0;
                                        if (Number(product.suggested_price) === 0) {
                                            perc = 0;
                                        } else if (Number(product.PrezzoListinoFornitore) > 0) {
                                            perc = ((Number(product.suggested_price) - Number(product.PrezzoListinoFornitore)) / Number(product.PrezzoListinoFornitore)) * 100;
                                        }
                                    %>
                                    <%= perc.toFixed(2) %>% di ricarico
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-sm" style="margin-bottom: 10px;">
                    <colgroup>
                        <col>                      
                        <col style="width: 80px;">
                        <col>                   
                        <col>                      
                    </colgroup>
                    <thead>
                        <tr>
                            <th class="text-muted">Competitor</th>
                            <th></th>
                            <th class="text-muted fw-normal text-center">Diff</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (product.competitor_prices && product.competitor_prices.length) { %>
                        <% product.competitor_prices.forEach(function(comp) { %>
                            <tr id="competitor-info-<%= product.CodiceArticolo %>">
                                <td scope="col" style="vertical-align: middle;">
                                    <% 
                                        var url = comp.url 
                                            ? (comp.url.startsWith('http') ? comp.url : 'https://' + comp.url) 
                                            : null;
                                    %>
                                    <button
                                        type="button"
                                        class="btn btn-default bi bi-clock text-primary btn-competitor-product-price-history"
                                        style="border: 0; width: 25px; height: 25px; padding: 0;"
                                        data-competitor-id="<%= comp.competitor_id %>"
                                        data-product-code="<%= product.CodiceArticolo %>"
                                    ></button>
                                    <button
                                        type="button"
                                        class="btn btn-default bi bi-link-45deg text-primary btn-competitor-url"
                                        style="border: 0; width: 25px;height: 25px; padding: 0;"
                                        data-competitor-product-url="<%= url %>"
                                    ></button>
                                    <span 
                                        id="competitor-name-label-<%= comp.competitor_product_id %>"
                                        class="fw-bold <%= url ? 'hidden' : '' %>"
                                        data-competitor-name="<%= comp.competitor_name %>"
                                        data-competitor-id="<%= comp.competitor_id %>"
                                        data-competitor-product-id="<%= comp.competitor_product_id %>"
                                        data-competitor-product-url="<%= url || '' %>"
                                    >
                                        <%= comp.competitor_name %>
                                    </span>
                                    <a 
                                        id="competitor-name-link-<%= comp.competitor_product_id %>"
                                        href="<%= url %>"
                                        target="_blank" 
                                        class="fw-bold text-primary text-decoration-underline <%= url ? '' : 'hidden' %>"
                                        data-competitor-name="<%= comp.competitor_name %>"
                                        data-competitor-id="<%= comp.competitor_id %>"
                                        data-competitor-product-id="<%= comp.competitor_product_id %>"
                                        data-competitor-product-url="<%= url || '' %>"
                                    >
                                        <%= comp.competitor_name %>
                                    </a>
                                </td>
                                <td id="td-<%= product.CodiceArticolo %>-<%= comp.competitor_name %>" scope="col" class="text-right" data-prezzo-competitor>
                                    <input 
                                        type="text" 
                                        id="<%= product.CodiceArticolo %>-Prezzo<%= comp.competitor_name %>" 
                                        class="form-control number-validation" 
                                        value="<%= comp.price ? comp.price : '0.00' %>"
                                        data-original-value="<%= comp.price ? comp.price : '0.00' %>"
                                        data-product-base-price="<%= product.PrezzoListinoBase %>"
                                    >
                                </td>
                                <td id="td-prezzo-competitor-<%= product.CodiceArticolo %>-<%= comp.competitor_name %>" scope="col" class="text-center" style="vertical-align: middle;">
                                <%
                                    var perc = comp.price && Number(comp.price) > 0
                                        ? ((product.PrezzoListinoBase * 100 / comp.price) - 100)
                                        : null;
                                    var percClass = perc !== null
                                        ? (perc < 0 ? 'text-success' : 'text-danger')
                                        : '';
                                %>
                                <% if (perc !== null) { %>
                                    <span class="<%= percClass %>"><%= perc.toFixed(2) %>%</span>
                                <% } else { %>
                                    <span>-</span>
                                <% } %>
                            </td>
                                <td id="td-note-competitor-<%= product.CodiceArticolo %>-<%= comp.competitor_name %>" scope="col" class="text-right">
                                    <input 
                                        type="text" 
                                        id="<%= comp.note ? comp.note : '' %>-Note<%= comp.competitor_name %>" 
                                        class="form-control" 
                                        value="<%= comp.note ? comp.note : '' %>" 
                                        placeholder="Note"
                                        data-original-value="<%= comp.note ? comp.note : '' %>"
                                    >
                                </td>
                            </tr>
                        <% }); %>
                    <% } %>
                    </tbody>
                </table>
            </div>
            <div class="col-xs-12">
                <div class="col-md-6"></div>
                <div class="col-md-6 col-xs-12" style="padding-right:0; margin-right:0;">
                    <div class="d-flex justify-content-between align-items-center w-100">
                        <div id="average-competitor-price-<%= product.CodiceArticolo %>">
                            <%
                            var prices = [
                                Number(product.PrezzoIlomo) || 0,
                                Number(product.PrezzoSunlux) || 0,
                                Number(product.PrezzoPapironia) || 0,
                                Number(product.PrezzoScipioni) || 0,
                                Number(product.PrezzoSacchettoDoro) || 0
                            ].filter(function(val) { return val > 0; });

                            var averagePrice = prices.length > 0
                                ? (prices.reduce(function(a, b) { return a + b; }, 0) / prices.length)
                                : 0;
                            %>
                            Prezzo medio del competitor <strong><%= averagePrice.toFixed(2) %></strong>
                        </div>
                        <div class="btn-group dropup">
                            <button 
                                type="button" 
                                class="btn btn-primary bi bi-floppy btn-submit-changes" 
                                style="margin-right: 1rem;"
                            >
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>