<% 
if (product) {

let competitors = product[0].ArticoloCompetitors.split(","); %>

<table class="table table-striped" style="padding:2px !important;">
    <thead>
        <tr>
        <% 
            competitors.forEach(function(competitor) { %>
            <th scope="col">
                <strong><%=competitor.trim().replace("_", "&") %></strong>
            </th>

        <%  }); %>
            <th scope="col">
                <strong>Data Registrazione</strong>
            </th>
            <th scope="col">
                <strong>Utente</strong>
            </th>
        </tr>
    </thead>
    <tbody id="detect-price-history-container">
        <% product.forEach(function(product) { %>
        <tr>
            <%
            if (product.ArticoloCompetitors) {
                let brands = product.ArticoloCompetitors.split(",");
                brands.forEach(function(brand) { %>
                <td>
                    <span class="Prezzo<%=brand%>">
                        <% if (brand.trim() == "Family") { %>
                            <% if (product.PrezzoFamily) { %>
                                <%= product.PrezzoFamily %>
                            <% } else { %>
                                0.00
                            <% } %>
                        <% } %>
                        <% if (brand.trim() == "Ilomo") { %>
                            <% if (product.PrezzoIlomo) { %>
                                <%= product.PrezzoIlomo %>
                            <% } else { %>
                                0.00
                            <% } %>
                        <% } %>
                        <% if (brand.trim() == "Sunlux") { %>
                            <% if (product.PrezzoSunlux) { %>
                                <%= product.PrezzoSunlux %>
                            <% } else { %>
                                0.00
                            <% } %>
                        <% } %>
                        <% if (brand.trim() == "Papironia") { %>
                            <% if (product.PrezzoPapironia) { %>
                                <%= product.PrezzoPapironia %>
                            <% } else { %>
                                0.00
                            <% } %>
                        <% } %>
                        <% if (brand.trim() == "Scipioni") { %>
                            <% if (product.PrezzoScipioni) { %>
                                <%= product.PrezzoScipioni %>
                            <% } else { %>
                                0.00
                            <% } %>
                        <% } %>
                        <% if (brand.trim().replace("'", "") == "SacchettoDoro") { %>
                            <% if (product.PrezzoSacchettoDoro) { %>
                                <%= product.PrezzoSacchettoDoro %>
                            <% } else { %>
                                0.00
                            <% } %>
                        <% } %>
                        <% if (brand.trim() == "Mp") { %>
                            <% if (product.PrezzoMp) { %>
                                <%= product.PrezzoMp %>
                            <% } else { %>
                                0.00
                            <% } %>
                        <% } %>
                        <% if (brand.trim() == "Eurocom") { %>
                            <% if (product.PrezzoEurocom) { %>
                                <%= product.PrezzoEurocom %>
                            <% } else { %>
                                0.00
                            <% } %>
                        <% } %>
                        <% if (brand.trim() == "Modo") { %>
                            <% if (product.PrezzoModo) { %>
                                <%= product.PrezzoModo %>
                            <% } else { %>
                                0.00
                            <% } %>
                        <% } %>
                        <% if (brand.trim() == "Wynie") { %>
                            <% if (product.PrezzoWynie) { %>
                                <%= product.PrezzoWynie %>
                            <% } else { %>
                                0.00
                            <% } %>
                        <% } %>
                        <% if (brand.trim() == "EmBeauty") { %>
                            <% if (product.PrezzoEmBeauty) { %>
                                <%= product.PrezzoEmBeauty %>
                            <% } else { %>
                                0.00
                            <% } %>
                        <% } %>
                        <% if (brand.trim() == "J_E") { %>
                            <% if (product.PrezzoJ_E) { %>
                                <%= product.PrezzoJ_E %>
                            <% } else { %>
                                0.00
                            <% } %>
                        <% } %>
                        <% if (brand.trim() == "Tertio") { %>
                            <% if (product.PrezzoTertio) { %>
                                <%= product.PrezzoTertio %>
                            <% } else { %>
                                0.00
                            <% } %>
                        <% } %>
                    </span> <span class="bi bi-currency-euro"></span>
                </td>

            <%  });
            }
            %>


            <td>
                <%=product.DataRegistrazione %>
            </td>
            <td>
                <%=product.Utente %>
            </td>
        </tr>
        <% }); %>

    </tbody>
</table>

<% } %>