<table class="table table-striped mt-3" style="padding:2px !important;">
  <thead>
    <tr>
      <td>Data</td>
      <td>Autore</td>
      <td class="text-right">Prezzo</td>
    </tr>
  </thead>
  <tbody>
    <% priceHistory.forEach(function(item) { %>
      <% 
        const dateObj = new Date(item.created_at);
        const day = ('0' + dateObj.getDate()).slice(-2);
        const month = ('0' + (dateObj.getMonth() + 1)).slice(-2);
        const year = dateObj.getFullYear();
      %>
      <tr>
        <td scope="col"><%= day %>/<%= month %>/<%= year %></td>
        <td><%= item.userName %> (<%= item.userEmail %>)</td>
        <td scope="col" class="text-right">
          <span class="PrezzoListinoFornitore">
            <%= item.price %><span class="bi bi-currency-euro"></span>
          </span>
        </td>
      </tr>
    <% }) %>
  </tbody>
</table>
<div class="col-xs-12 text-right">
    <input type="button" class="btn btn-primary btn-product-price-history-ok" value="OK">
</div>