<!DOCTYPE html>
<html>
<head>
    <title>Web APP DC - Gruppi Operativi</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%- include('partials/head'); %>
    <%- include('partials/confirm-delete'); %>
    <script type="text/javascript" src="/utility-script"></script>
    <script type="text/javascript" src="/gruppi-operativi-script"></script>
    <script type="text/javascript" src="/logout-script"></script>
</head>
<body>
    <input type="hidden" name="OffsetRows" id="OffsetRows" value="0" />
    <%- include('partials/header'); %>
    <div class="container-fluid">
        <h4>
            <span class="bi bi-people-fill" style="font-size:2rem;"></span>&nbsp;
            <b>Gruppi Operativi</b>
            <span class="badge" style="background-color:orange;"></span>
        </h4>
        <!-- BREADCRUMB -->
        <div class="container-fluid" style="border-bottom:1px solid #d4d0d8; padding-bottom:10px; padding-left:0;">
            <% if (root.length > 0) { %>
                <div class="col-xs-12">
                    <a href="/gruppi-operativi" class="btn btn-light btn-md bi bi-arrow-90deg-left rounded-circle" style="margin-bottom:8px; margin-top:4px; width:34px; height:34px; padding-top:8px; padding-left:8px;"></a>
                </div>
            <% } %>
            <div class="col-xs-12">
            <% if (root.length > 0) {
                root.forEach(function(item, index) { %>
                    <% if (index >= 1) { %>
                        <i class="bi bi-arrow-right-short" style="color:#337ab7;"></i>
                    <% } %>
                    <a class="gruppo-operativo-<%= item.IdGruppoOperativo %>" href="/gruppi-operativi/<%= item.IDGruppoOperativo %>"><%= item.Text_IT %></a>
                <% }); 
                }
                %>
                </div>
        </div>
        <% if (data.length > 0) {
            data.forEach(function(item) { %>
            <div class="col-xs-12" style="border-bottom:1px solid #d4d0d8; padding:10px;">
                <!-- LIST ITEMS -->
                <div class="col-xs-10" style="padding:0;">
                    <span class="bi bi-people-fill" style="font-size:1.6rem;"></span>&nbsp;
                    <a class="gruppo-operativo-<%= item.IdGruppoOperativo %>" href="/gruppi-operativi/<%= item.IdGruppoOperativo %>" data-idgruppooperativo="<%= item.IdGruppoOperativo %>">
                        <%= item.Text_IT %>
                    </a>
                </div>
                <!-- RIGHT CONTEXT MENU -->
                <div class="col-xs-2 text-right" style="padding:0;">
                    <div class="btn-group">
                        <button type="button" class="btn btn-light bi bi-three-dots-vertical rounded-circle"
                            data-bs-toggle="dropdown" style="width:34px; height:34px; padding:0;">
                        </button>
                        <ul class="dropdown-menu dropdown-menu-lg-end" style="width:250px;">
                            <li>
                                <div class="col-xs-12">
                                    <b class="gruppo-operativo-<%= item.IdGruppoOperativo %>"><%= item.Text_IT %></b>
                                </div>
                            </li>
                            <li class="dropdown-item">
                                <hr class="dropdown-divider">
                            </li>
                            <li class="dropdown-item">
                                <button type="button" class="btn btn-light col-xs-12 gruppi-operativi-edit"
                                    data-gruppioperativotext="<%= item.Text_IT %>" 
                                    data-gruppioperativoid="<%= item.IdGruppoOperativo %>"
                                    data-gruppioperativoparentid="<%= item.IdGruppoOperativoParent %>">
                                    Modifica
                                </button>
                            </li>
                            <li class="dropdown-item">
                                <button type="button" class="btn btn-light col-xs-12"
                                    data-toggle="modal" data-target="#confirm-delete"
                                    data-callback="DeleteGruppoOperativo"
                                    data-args="<%= item.IdGruppoOperativo %>"
                                    data-gruppioperativotext="<%= item.Text_IT %>" 
                                    data-gruppioperativoid="<%= item.IdGruppoOperativo %>"
                                    data-gruppioperativoparentid="<%= item.IdGruppoOperativoParent %>">
                                    Elimina
                                </button>
                            </li>
                            <li class="dropdown-item">
                                <button type="button" class="btn btn-light col-xs-12">
                                    Profili Utente
                                </button>
                            </li>
                            <li class="dropdown-item">
                                <button type="button" class="btn btn-light col-xs-12">
                                    Annulla
                                </button>
                            </li>
                        </ul>
                    </div>

                </div>

            </div>
            <% }); 
            }
        %>
    </div>
    <div class="container-fluid col-xs-12 text-center">
        <button type="button" class="btn btn-primary rounded-circle glyphicon glyphicon-plus gruppi-operativi-new"
            style="width:34px; height:34px; padding:0; margin:10px;">
        </button>
    </div>
    <form name="frmGruppiOperativi" class="was-validated" novalidate>
        <input type="hidden" id="idgruppooperativo" />
        <input type="hidden" id="idgruppooperativoparent" value="<%= IdGruppoOperativoParent %>" />
        <div class="modal" id="gruppi-operativi-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="form-group form-errors" style="display:none;">
                            <div class="panel panel-danger">
                                <div class="panel-heading">
                                    <b>Error</b>
                                </div>
                                <div class="panel-body pnl-errors"></div>
                            </div>
                        </div>
                        <i class="bi bi-people-fill" style="font-size:2rem; margin:8px;"></i><h4 class="modal-title"></h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                        <label for="codice" class="col-form-label">Codice:</label>
                        <input type="text" class="form-control" id="codice">
                        </div>
                        <div class="mb-3">
                        <label for="descrizione" class="col-form-label">Descrizione:</label>
                        <input type="text" class="form-control" id="descrizione" required>
                        </div>
                        <div class="mb-3">
                        <label for="Text_IT" class="col-form-label">Text IT:</label>
                        <input type="text" class="form-control" id="Text_IT" required>
                        </div>
                        <div class="mb-3">
                        <label for="Text_GB" class="col-form-label">Text GB:</label>
                        <input type="text" class="form-control" id="Text_GB" required>
                        </div>
                        <div class="mb-3">
                        <label for="supervisor" class="col-form-label">Supervisor:</label>
                        <select id="supervisor" class="form-select form-select-lg" required>
                            <option value="">&hellip;</option>
                        </select>
                        </div>
                        <div class="mb-3">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="rbIsPublic" name="rbIsPublic">
                            <label class="form-check-label text-dark" for="rbIsPublic">Pubblico</label>
                        </div>
                    
                        </div>
                        <div class="mb-3">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="rbIsVisible" name="rbIsVisible" >
                            <label class="form-check-label text-dark" for="rbIsVisible">Visibile</label>
                        </div>
                        </div>
                
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-bs-dismiss="modal">
                        Annulla
                    </button>
                    <input type="button" class="btn btn-primary btn-ok" value="OK">
                    </div>
                </div>
            </div>
        </div>  
    </form>
</body>
</html>