<!DOCTYPE html>
<html>
<head>
    <title>Web APP Monitor Rilevamento Prezzi - Product List</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%- include('partials/head'); %>
    <script type="text/javascript" src="/product-list-script"></script>
    <script type="text/javascript" src="/logout-script"></script>
</head>
<body>
    <form name="frmProductList">

        <input type="hidden" name="OffsetRows" id="OffsetRows" value="0" />
    
        <%- include('partials/header'); %>
        <div class="container-fluid">
            <div class="col-lg-1 col-md-12 col-sm-12 col-xs-12">
                <h4>
                    <span class="glyphicon glyphicon-bookmark" style="color:#0088ff;"></span>&nbsp;
                    <b>Catalogo /</b>
                    <span class="badge" style="background-color:#0088ff;"></span>
                </h4>
            </div>
            <div class="col-lg-11 col-md-12 col-sm-12 col-xs-12">
                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                        <label for="Fornitore" class="col-form-label">Fornitore</label>
                    </div>
                    <div class="col-auto col-lg-3 col-md-4 col-sm-3 col-xs-12">
                        <select name id="Fornitore" class="form-select" style="font-size:15px;">
                            <option value="">Tutti</option>
                            <option value="">Fornitore 1</option>
                        </select>
                    </div>
                    <div class="col-auto">
                        <label for="CodiceArticolo" class="col-form-label">Codice Articolo</label>
                    </div>
                    <div class="col-auto col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <input type="text" id="CodiceArticolo" class="form-control" placeholder="es: 0005837">
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary mb-3">Cerca</button>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <hr style="border: 1px solid #d1d1d1;" />
            </div>
            <div class="data-container">
            <% products.forEach(function(product) { %>

                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                    <div class="jumbotron" style="padding-left:0; padding-right:0; padding-top:25px; border:2px solid #0088ff; background-color:#fff;">
                        <div class="container-fluid" style="padding:0 !important;">
                            <% if (product.PercentualeSconto != '0.00') { %>
                            <h6 class="rounded" style="position:relative; margin:0; width:52px !important; height:20px !important; padding:4px; padding-left:6px; margin-right:0; float:right; top:-10px; background-color:#0088ff; color:#fff;">
                                -<%= parseFloat(product.PercentualeSconto) %>%
                            </h6>
                            <% } %>
                            <h3 class="glyphicon glyphicon-bookmark" style="position:absolute; left:30px; top:-25px; color:#0088ff;"></h3>
                            <div class="col-xs-12">
                                <a href="/productDetail/<%= product.CodiceArticolo %>" style="color:#333;">
                                    <img src="https://ik.imagekit.io/dccasa/FOTODC_AGENTI/<%= product.CodiceArticolo %>.jpg" 
                                    onerror="this.onerror=null; this.src='images/image.png';"
                                    class="img-thumbnail" />
                                </a>
                            </div>
                            <div class="col-xs-12">
                                <h5 style="color:gray;"><span class="glyphicon glyphicon-barcode"></span>&nbsp;&nbsp;<%= product.CodiceArticolo %></h5>
                                <h6 style="color:#0088ff;">
                                    <i><%= product.DescrizioneSottocategoria %></i>
                                </h6>
                                <h6>
                                    <% if (product.CodiceFornitore != "") { %>
                                        <%= product.RagioneSocialeFornitore %>
                                    <% } else { %>
                                        Fornitore non dispnonibile
                                    <% } %>
                                </h6>
                                <h4 class="text-info" style="height:60px !important;">
                                    <a class="text-decoration-none;" href="/productDetail/<%= product.CodiceArticolo %>">
                                        <b class="text-dark">
                                            <%= product.Denominazione %>
                                        </b>
                                    </a>
                                </h4>
                                <!--h6 class="text-muted">
                                    <% if (product.QuantitaPacco != product.QuantitaBox) { %>
                                        <%= product.QuantitaPacco %> unit&agrave; / Confezione da <%= product.QuantitaBox %> PZ
                                    <% } else { %>
                                        Confezione da <%= product.QuantitaBox %> PZ
                                    <% } %>
                                </h6-->
                            </div>
                            <div class="col-xs-12">
                                <table class="table table-striped table-sm" style="font-size:11px;">
                                    <tbody>
                                        <tr class="table-dark">
                                            <td scope="col"><b>DC Group</b></td>
                                            <td scope="col" class="text-right">
                                                <b><%= product.PrezzoListinoBase %><span class="bi bi-currency-euro"></span></b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td scope="col">Fornitore</td>
                                            <td scope="col" class="text-right">
                                                <%= product.PrezzoListinoFornitore %><span class="bi bi-currency-euro"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td scope="col">Family</td>
                                            <td scope="col" class="text-right">
                                                <%= product.PrezzoListinoFornitore %><span class="bi bi-currency-euro"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td scope="col">Ilomo</td>
                                            <td scope="col" class="text-right">
                                                <%= product.PrezzoListinoFornitore %><span class="bi bi-currency-euro"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td scope="col">Sunlux</td>
                                            <td scope="col" class="text-right">
                                                <%= product.PrezzoListinoFornitore %><span class="bi bi-currency-euro"></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-xs-12">
                                <div class="btn-group dropup" style="position:absolute; display:block; width:100%; margin:0;">
                                    <button type="button" class="btn btn-default bi bi-three-dots-vertical rounded-circle"
                                        data-bs-toggle="dropdown" style="width:34px; height:34px; padding:0; float:right; margin-right:25px; margin-bottom:8px;">
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-lg-end" style="width:250px;">
                                        <li>
                                            <div class="col-xs-12">
                                                <b class="gruppo-operativo-1">Azioni</b>
                                            </div>
                                        </li>
                                        <li class="dropdown-item">
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li class="dropdown-item">
                                            <button type="button" class="btn btn-light col-xs-12 btn-edit-product">
                                                Visualizza dettaglio
                                            </button>
                                        </li>
                                        <li class="dropdown-item">
                                            <button type="button" class="btn btn-light col-xs-12">
                                                Aggiungi in approvazione
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
              <% }); %>
              
              </div>

        </div>
    </form>

    <form name="frmProductListDetail" class="was-validated" novalidate>
        <input type="hidden" id="idgruppooperativo" />
        <input type="hidden" id="idgruppooperativoparent" />
        <div class="modal" id="product-list-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="form-group form-errors" style="display:none;">
                            <div class="panel panel-danger">
                                <div class="panel-heading">
                                    <b>Error</b>
                                </div>
                                <div class="panel-body pnl-errors"></div>
                            </div>
                        </div>
                        <h4 class="modal-title">
                            <span class="glyphicon glyphicon-barcode"></span>&nbsp;&nbsp;<b>0002517</b> / Dettaglio Articolo
                        </h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <table class="table table-striped table-sm" style="font-size:11px; padding:4px !important;">
                            <tbody>
                                <tr class="table-dark">
                                    <td scope="col"><b>Prezzo DC Group</b></td>
                                    <td scope="col" class="text-right">
                                        0,00 <b><span class="bi bi-currency-euro"></span></b>
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="col">Prezzo Fornitore</td>
                                    <td scope="col" class="text-right">
                                        0,00 <span class="bi bi-currency-euro"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="col">Prezzo Family</td>
                                    <td scope="col" class="text-right">
                                        0,00 <span class="bi bi-currency-euro"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="col">Prezzo Ilomo</td>
                                    <td scope="col" class="text-right">
                                        0,00 <span class="bi bi-currency-euro"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="col">Prezzo Sunlux</td>
                                    <td scope="col" class="text-right">
                                        0,00 <span class="bi bi-currency-euro"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="col">Ricarico</td>
                                    <td scope="col" class="text-right">
                                        35 <span class="bi bi bi-percent"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="col">Applicazione</td>
                                    <td scope="col" class="text-right">
                                        Stock
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="col">Gamma</td>
                                    <td scope="col" class="text-right">
                                        F - DOGS
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="col">Media Vendita</td>
                                    <td scope="col" class="text-right">
                                        10
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="col-xs-6">
                            <div class="mb-3">
                                <label for="PrezzoFamily" class="col-form-label">Prezzo Family:</label>
                                <input type="text" class="form-control" id="PrezzoFamily" required>
                            </div>
                            <div class="mb-3">
                                <label for="PrezzoIlomo" class="col-form-label">Prezzo Ilomo:</label>
                                <input type="text" class="form-control" id="PrezzoIlomo" required>
                            </div>
                            <div class="mb-3">
                                <label for="PrezzoSunlux" class="col-form-label">Prezzo Sunlux:</label>
                                <input type="text" class="form-control" id="PrezzoSunlux" required>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="mb-3">
                                <label for="PrezzoSuggerito" class="col-form-label">Nuovo prezzo suggerito (DC Group):</label>
                                <input type="text" class="form-control" id="PrezzoSuggerito" required>
                            </div>
                            <div class="mb-3">
                                <label for="Note" class="col-form-label">Note:</label>
                                <textarea class="form-control" id="Note" rows="5"></textarea>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-check form-switch">
                                <label class="form-check-label text-dark" for="rbIsVisible">Condividi in approvazione</label>
                                <input class="form-check-input" type="checkbox" id="rbIsPublic" name="rbIsPublic">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="col-xs-6">
                            <button type="button" class="btn btn-default" data-bs-dismiss="modal">
                                Annulla
                            </button>
                            <input type="button" class="btn btn-primary btn-ok" value="OK">
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </form>

</body>
</html>