<!DOCTYPE html>
<html>
<head>
    <title>Web APP Monitor Rilevamento Prezzi - Product List</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%- include('partials/head'); %>
    <script type="text/javascript" src="/product-list-script"></script>
    <script type="text/javascript" src="/logout-script"></script>
</head>
<body>
    <form name="frmProductList">

        <input type="hidden" name="OffsetRows" id="OffsetRows" value="0" />
    
        <%- include('partials/header'); %>
        <div class="container-fluid">
            <div class="col-lg-1 col-md-12 col-sm-12 col-xs-12">
                <h4>
                    <span class="glyphicon glyphicon-bookmark" style="color:#0088ff;"></span>&nbsp;
                    <b>Catalogo /</b>
                    <span class="badge" style="background-color:#0088ff;"></span>
                </h4>
            </div>
            <div class="col-lg-11 col-md-12 col-sm-12 col-xs-12">
                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                        <label for="Fornitore" class="col-form-label">Fornitore</label>
                    </div>
                    <div class="col-auto col-lg-3 col-md-4 col-sm-3 col-xs-12">
                        <select name id="Fornitore" class="form-select" style="font-size:15px;">
                            <option value="">Tutti</option>
                            <option value="">Fornitore 1</option>
                        </select>
                    </div>
                    <div class="col-auto">
                        <label for="CodiceArticolo" class="col-form-label">Codice Articolo</label>
                    </div>
                    <div class="col-auto col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <input type="text" id="CodiceArticolo" class="form-control" placeholder="es: 0005837, 0139621, 0126464">
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary mb-3">Cerca</button>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <hr style="border: 1px solid #d1d1d1;" />
            </div>
            <div class="data-container">
            <% products.forEach(function(product) { %>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">

                    <div class="btn-group" style="position:absolute; display:block; width:100%;">
                        <button type="button" class="btn btn-default bi bi-three-dots-vertical rounded-circle"
                            data-bs-toggle="dropdown" style="width:34px; height:34px; padding:0; float:right; margin-right:40px; margin-top:10px;">
                        </button>
                        <ul class="dropdown-menu dropdown-menu-lg-end" style="width:250px;">
                            <li>
                                <div class="col-xs-12">
                                    <b class="gruppo-operativo-1">Azioni</b>
                                </div>
                            </li>
                            <li class="dropdown-item">
                                <hr class="dropdown-divider">
                            </li>
                            <li class="dropdown-item">
                                <button type="button" class="btn btn-light col-xs-12">
                                    Visualizza dettaglio
                                </button>
                            </li>
                            <li class="dropdown-item">
                                <button type="button" class="btn btn-light col-xs-12">
                                    Aggiungi in approvazione
                                </button>
                            </li>
                        </ul>
                    </div>

                    <div class="jumbotron" style="padding:20px; border:2px solid #0088ff; background-color:#fff;">
                        <div class="container-fluid">
                            <% if (product.PercentualeSconto != '0.00') { %>
                            <h6 class="rounded" style="position:relative; width:52px !important; height:20px !important; padding:4px; padding-left:6px; margin-right:-32px; float:right; top:-26px; background-color:#d9534f; color:#fff;">
                                -<%= parseFloat(product.PercentualeSconto) %>%
                            </h6>
                            <% } %>
                            <h3 class="glyphicon glyphicon-bookmark" 
                                style="position:absolute; left:30px; top:-25px; color:#0088ff;"></h3>
                            <div class="col-xs-12" style="color:gray;">
                                <h5><span class="glyphicon glyphicon-barcode"></span>&nbsp;&nbsp;<%= product.CodiceArticolo %></h5>
                            </div>
                            <div class="col-lg-7 col-md-12">
                                <h4 class="text-info">
                                    <a style="display:block; height:55px !important;" class="text-decoration-none" href="/productDetail/<%= product.CodiceArticolo %>">
                                        <b class="text-dark">
                                            <%= product.Denominazione %>
                                        </b>
                                    </a>
                                </h4>
                                <h5 style="color:#0088ff;">
                                    <%= product.DescrizioneSottocategoria %>
                                </h5>
                                <h6 class="text-muted">
                                    <% if (product.QuantitaPacco != product.QuantitaBox) { %>
                                        <%= product.QuantitaPacco %> unit&agrave; / Confezione da <%= product.QuantitaBox %> PZ
                                    <% } else { %>
                                        Confezione da <%= product.QuantitaBox %> PZ
                                    <% } %>
                                </h6>
                            </div>
                            <div class="col-lg-5 col-md-12">
                                <a href="/productDetail/<%= product.CodiceArticolo %>" style="color:#333;">
                                    <img src="https://ik.imagekit.io/dccasa/FOTODC_AGENTI/<%= product.CodiceArticolo %>.jpg" 
                                    onerror="this.onerror=null; this.src='images/image.png';"
                                    style="width:177px !important; height:177px !important;" class="img-thumbnail" />
                                </a>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <% if (product.PercentualeSconto != '0.00') { %>
                                    <h3 style="color:#0088FF;">&euro;&nbsp;<%= product.PrezzoUnitarioScontato %></h3>
                                    <h4>&euro;&nbsp;<span style="text-decoration: line-through;"><%= product.PrezzoUnitario %></span></h4>
                                <% } else { %>
                                    <h3 style="color:#0088FF;">&euro;&nbsp;<%= product.PrezzoUnitario %></h3>
                                    <h4>&nbsp;</h4>
                                <% } %>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <h6>
                                    <a class="btn btn-default btn-sm" href="/cart"
                                        data-toggle="tooltip" data-placement="top" title="Rimuovi dal Carrello">
                                        <span class="glyphicon glyphicon-minus"></span>
                                    </a>
                                    <a class="btn btn-default btn-sm" style="cursor:default; padding: 5px; width: calc(53% - 10px);">
                                        <b><span class="glyphicon glyphicon-shopping-cart"></span> Articolo</b>
                                    </a>
                                    <a class="btn btn-default btn-sm" href="/cart"
                                        data-toggle="tooltip" data-placement="top" title="Aggiungi al Carrello">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </a>
                                </h6>
                                <h6>
                                    <a class="btn btn-default btn-sm" href="/cart"
                                        data-toggle="tooltip" data-placement="top" title="Rimuovi dal Carrello">
                                        <span class="glyphicon glyphicon-minus"></span>
                                    </a>
                                    <a class="btn btn-default btn-sm" style="cursor:default; padding: 5px; width: calc(53% - 10px);">
                                        <b><span class="glyphicon glyphicon-shopping-cart"></span> Confezione</b>
                                    </a>
                                    <a class="btn btn-default btn-sm" href="/cart"
                                        data-toggle="tooltip" data-placement="top" title="Aggiungi al Carrello">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </a>
                                </h6>
                            </div>
                        </div>
                    </div>

                </div>
              <% }); %>
              
              </div>

        </div>
    </form>
</body>
</html>