<!DOCTYPE html>
<html>
<head>
    <title>Web APP Monitor Rilevamento Prezzi - Richieste Approvazione</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%- include('partials/head'); %>
    <%- include('partials/confirm-delete'); %>
    <%- include('partials/confirm-operation'); %>
    <script type="text/javascript" src="/utility-script"></script>
    <script type="text/javascript" src="/product-price-approvals-list-script"></script>
    <script type="text/javascript" src="/logout-script"></script>
</head>
<body>
    <form name="frmProductList">
        <input type="hidden" name="OffsetRows" id="OffsetRows" value="0" />
        <%- include('partials/header'); %>
        <div class="modal spinner-excel" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="col-lg-12" style="text-align: center;">
                    <img src="/images/download-xls-icon.jpg" style="width:300px; height:250px;" />
                </div>
                <div class="spinner-border text-success" style="position:absolute; margin:16px; width: 5rem; height: 5rem;" role="status">
                    <span class="sr-only"></span>
                </div>
            </div>
            </div>
        </div>

        <div class="modal spinner" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                  <div class="col-lg-12" style="text-align: center;">
                      <img src="/images/loader-content-icon.jpg" style="width:300px; height:300px;" />
                  </div>
                  <div class="spinner-border text-primary" style="position:absolute; margin:16px; width: 5rem; height: 5rem;" role="status">
                    <span class="sr-only"></span>
                  </div>
              </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="col-xs-3 position-fixed">
                <h5>
                    <span class="glyphicon glyphicon-bookmark" style="color:#0088ff;"></span>&nbsp;<b>Richieste Approvazione /</b>
                </h5>
                <hr style="border: 1px solid #d1d1d1; margin-bottom:4px;" />
                <div style="display:none;">
                    <div class="row">
                        <label for="DataRegistrazioneFrom" class="col-form-label">Data Registrazione</label>
                    </div>
                    <div class="row">
                        <input type="text" id="DataRegistrazioneFrom" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <h6></h6>
                   <div class="col-xs-12">
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="IdStatoApprovazione" id="rbApprovalState_1" <% if (IdStatoApprovazione == 1) { %>checked <% } %> value="1">
                          <label class="form-check-label" for="rbApprovalState_1">
                            In lavorazione
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="IdStatoApprovazione" id="rbApprovalState_2" <% if (IdStatoApprovazione == 2) { %>checked <% } %> value="2">
                          <label class="form-check-label" for="rbApprovalState_2">
                            Approvata
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="IdStatoApprovazione" id="rbApprovalState_4" <% if (IdStatoApprovazione == 4) { %>checked <% } %> value="4">
                          <label class="form-check-label" for="rbApprovalState_4">
                            Approvata parzialmente
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="IdStatoApprovazione" id="rbApprovalState_3" <% if (IdStatoApprovazione == 3) { %>checked <% } %> value="3">
                          <label class="form-check-label" for="rbApprovalState_3">
                            Non approvata
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="IdStatoApprovazione" id="rbApprovalState_5" <% if (IdStatoApprovazione == 5) { %>checked <% } %> value="5">
                          <label class="form-check-label" for="rbApprovalState_5">
                            In approvazione
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="IdStatoApprovazione" id="rbApprovalState_0" <% if (IdStatoApprovazione == 0) { %>checked <% } %> value="0">
                          <label class="form-check-label" for="rbApprovalState_0">
                            Tutte
                          </label>
                        </div>
                   </div>
                </div>
                <h6></h6> 
                <div class="row">
                    <button type="button" class="btn btn-primary btn-search">Cerca</button>
                </div>
                <h5 class="load-pager">
                    <% if (user.NextRows > RowsCount) { %>
                        <span class="LoadedRows"><%= RowsCount %></span>
                    <% } else { %>
                        <span class="LoadedRows"><%= user.NextRows %></span>
                    <% } %>
                    di <b><span class="RowsCount"><%= RowsCount %> </span></b> approvazioni
                </h5>
            </div>
            <div class="col-xs-9 col-xs-push-3">

                <!-- System message-->
                <div id="system-message" style="display:none;">
	                <div class="col-xs-12">
		                <div class="form-group form-errors">
			                <div class="panel panel-danger">
				                <div class="panel-heading">
					                <b>Messaggio di sistema</b>
				                </div>
				                <div class="panel-body pnl-errors"></div>
			                </div>
		                </div>
	                </div>
                </div>

                <table class="table table-hover h5">
                    <thead class="table-light">
                        <tr>
                            <th></th>
                            <th></th>
                            <th scope="col">ID</th>
                            <th scope="col">Buyer</th>
                            <th scope="col">Prezzi suggeriti</th>
                            <th scope="col">Prezzi non approvati</th>
                            <th scope="col">Data Registrazione</th>
                            <th scope="col">Stato</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="data-container">
                        <% if (Array.isArray(approvazioni)) { %>
                            <% approvazioni.forEach(function(approvazione) { %>
                                    <%- include('../template/product-price-approvals-list', {approvazione: approvazione}); %>
                                <% }); %>
                        <% } else { if (approvazioni) { %>
                            <%- include('../template/product-price-approvals-list', {approvazione: approvazioni}); %>
                        <% }} %>
                    </tbody>
                </table>
                <%- include('../template/bottom-pager', {product: approvazioni}); %>
            </div>
        </div>
    </form>

</body>
</html>