<!DOCTYPE html>
<html>
<head>
    <title>Web APP Monitor Rilevamento Prezzi - Product List</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%- include('partials/head'); %>
    <script type="text/javascript" src="/utility-script"></script>
    <script type="text/javascript" src="/validation-script"></script>
    <script type="text/javascript" src="/product-list-script"></script>
    <script type="text/javascript" src="/logout-script"></script>
</head>
<body>
    <form name="frmProductList">
        <input type="hidden" name="OffsetRows" id="OffsetRows" value="0" />
        <%- include('partials/header'); %>

        <div class="modal spinner" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                  <div class="col-lg-12" style="text-align: center;">
                      <img src="/images/loader-content-icon.jpg" style="width:300px; height:300px;" />
                  </div>
                  <div class="spinner-border text-primary" style="position:absolute; margin:16px; width: 5rem; height: 5rem;" role="status">
                    <span class="sr-only"></span>
                  </div>
              </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 sidebar">
            <h4 class="text-primary">
                <span class="glyphicon glyphicon-bookmark" style="color:#0088ff;"></span>&nbsp;<b>CATALOGO</b>
            </h4>
            <div>
                <label for="Supplier" class="col-form-label">Fornitore</label>
            </div>
            <div class="input-wrapper">
                <select name id="Supplier" class="form-select" style="font-size:15px; cursor: pointer;">
                    <option value="">Tutti</option>
                </select>
            </div>
            <div>
                <label for="Category" class="col-form-label">Categoria</label>
            </div>
            <div class="input-wrapper">
                <select name id="Category" class="form-select" style="font-size:15px; cursor: pointer;">
                    <option value="">Categoria 1</option>
                </select>
            </div>
            <div>
                <label for="CodiceArticolo" class="col-form-label">Codice Articolo</label>
            </div>
            <div class="input-wrapper">
                <input type="text" id="CodiceArticolo" class="form-control" placeholder="es: 0005837">
            </div>
            <div>
                <label for="CodiceFornitore" class="col-form-label">Codice Fornitore</label>
            </div>
            <div class="input-wrapper">
                <input type="text" id="CodiceFornitore" class="form-control" placeholder="es: F006387">
            </div>
             <div>
                <label for="NomeProdotto" class="col-form-label">Nome Prodotto</label>
            </div>
            <div class="input-wrapper">
                <input type="text" id="NomeProdotto" class="form-control" placeholder="es: 0005837">
            </div>
            
            <div class="input-wrapper">
                <label for="radio-group" class="col-form-label">Stato di lavorazione</label>
                <div class="radio py-1 radio-wrapper">
                    <label class="form-check-label" for="withPrice_0">
                        <input class="form-check-input" type="radio" name="withPrice" id="withPrice_0" value checked>
                        Tutti
                    </label>
                </div>
                <div class="radio py-1 radio-wrapper">
                    <label class="form-check-label" for="withPrice_1">
                        <input class="form-check-input" type="radio" name="withPrice" id="withPrice_1" value="suggested_price">
                        Ha un prezzo suggerito
                    </label>
                </div>
                <div class="radio py-1 radio-wrapper">
                    <label class="form-check-label" for="withPrice_2">
                        <input class="form-check-input" type="radio" name="withPrice" id="withPrice_2" value="competitor_price">
                        Ha un prezzo competitor
                    </label>
                </div>
            </div>
            <h6></h6> 
            <div>
                <button 
                    type="button" 
                    class="btn btn-primary btn-search w-100" 
                    data-offset-rows
                    data-next-rows
                >
                    Cerca
                </button>
            </div>
            <h5 class="load-pager">
                <% if (user.NextRows > RowsCount) { %>
                    <span class="LoadedRows"><%= rows_count %></span>
                <% } else { %>
                    <span class="LoadedRows"><%= next_rows %></span>
                <% } %>
                di <b><span class="RowsCount"><%= total %> </span></b> articoli
            </h5>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12 main-area">
            <!-- System message-->
            <div id="system-message" style="display:none;">
                <div class="col-xs-12">
                    <div class="form-group form-errors">
                        <div class="panel panel-danger">
                            <div class="panel-heading">
                                <b>Messaggio di sistema</b>
                            </div>
                            <div class="panel-body pnl-errors"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="data-container">
                <% if (Array.isArray(products)) { %>
                    <% products.forEach(function(product) { %>
                        <%- include('../template/product-list', {product: product}); %>
                    <% }); %>
                <% } else { %>
                    <%- include('../template/product-list', {product: products}); %>
                <% } %>
            </div>
            <%- include('../template/bottom-pager', {product: products}); %>
        </div>
    </form>

    <form name="frmDetectPrice" class="was-validated" novalidate>
        <div class="modal" id="detect-price" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">
                            <span class="glyphicon glyphicon-barcode"></span>&nbsp;&nbsp;<span class="text-primary CodiceArticolo"></span> / Rileva prezzo competitor
                        </h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <ul id="nav-tabs-detect-price" class="nav nav-tabs" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" id="tab-detect-price-detail" data-bs-toggle="tab" href="#tabpanel-detect-price-detail" role="tab" aria-controls="tabpanel-detect-price-detail" aria-selected="true">
                                    Dettaglio
                                </a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="tab-detect-price-history" data-bs-toggle="tab" href="#tabpanel-detect-price-history" role="tab" aria-controls="tabpanel-detect-price-history" aria-selected="false">
                                    History
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content pt-2" id="tab-content-detect-price">
                            <!-- Detail -->
                            <div style="height:520px;" class="tab-pane active" id="tabpanel-detect-price-detail" role="tabpanel" aria-labelledby="tab-detect-price-detail">
                            </div>
                            <!-- History -->
                            <div style="height:520px;" class="tab-pane" id="tabpanel-detect-price-history" role="tabpanel" aria-labelledby="tab-detect-price-history">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </form>

    <form name="frmCompetitorPriceHistory" class="was-validated" novalidate>
        <div class="modal" id="competitor-price-history" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">
                            <span class="bi bi-clock"></span>&nbsp;&nbsp;
                              <span class="text-primary competitor_name"></span>&nbsp;&nbsp;
                            <span class="text-primary product-code"></span> / Storico di prezzi competitor
                        </h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="competitor-product-price-history-body"></div>
                </div>
            </div>
        </div>
    </form>

    <form name="frmProductPriceHistory" class="was-validated" novalidate>
        <div class="modal" id="product-price-history" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">
                            <span class="glyphicon glyphicon-barcode"></span>&nbsp;&nbsp;<span class="text-primary product-article-code"></span> / Storico di prezzi suggeriti
                        </h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="product-price-history-body"></div>
                </div>
            </div>
        </div>
    </form>

    <form name="frmProductCompetitorUrl" class="was-validated" novalidate>
        <div class="modal" id="product-competitor-url" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">
                            <span class="bi bi-link-45deg"></span><span class="text-primary"></span> Modificare URL
                        </h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="competitor-url-body">
                    </div>
                </div>
            </div>
        </div>
    </form>

    <form name="frmZoomImage" class="was-validated" novalidate>
        <div class="modal" id="imageModal" data-bs-backdrop="static" data-bs-keyboard="true" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">
                            <span class="bi bi-image"></span><span class="text-primary"></span> Immagine
                        </h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div>
                            <img 
                                id="modalImage" 
                                src="" 
                                onerror="this.onerror=null; this.src='images/image.png';" 
                                class="img-responsive center-block" 
                                style="max-height: 80vh; border-radius: 10px;"
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

</body>
</html>